
<div>
<h2>VACATION BIBLE SCHOOL</h2>
<h3>BIG TOP BIBLE HEROES</h3>
<p>Come join us for activities, games, crafts, and music!</p>
<p>
    Five day camp available for children ages 3 through 4th grade. The children will be
    introduced to a daily Bible point, Bible story, and key Bible verse. A snack is provided by
    Asbury / New Life and is included in the fee. Children are categorized based on the last grade attended.
    Please put sunscreen on your child/children before dropping them off.
</p>
<em>VBS is scheduled for Monday-Friday, June 19-23, 2023</em>
<em>9:00 am - 12:30 pm</em>
<em>$30.00 per child.</em>
<em>Please contact Theresa Wasserburger at 720 - 210 - 3207</em>

<br/>
<vbs-form></vbs-form>
</div>